h2{
    color: red;
    text-align: center;
}
img{
    height: 400px;
    width: 400px;
}
.space{
    padding: 20px;

}
.bg-option{
    background-color: black;
    font-weight: lighter;
    color: white;
}
